.add {
    left: 65%;
    border-radius: .5em;
    margin: 10px;
    text-align: center;
    width: 100px;
    position: relative;
    padding: 0 10px;
    display: inline-block;
    font-size: 14px;
}
